<div class="widget-wrap widget-list">
    <h3 class="widget-title">打赏他</h3>
    <div class="widget" style="overflow:hidden;">
      <div style="float: left;width: 48%;border: 2px solid #EA6000;border-radius: 5px;text-align: center;">
          <img src="/css/images/zhifubao.png" alt="支付宝" width="100%" style="border-radius: 5px;">
          <p style="background-color: #EA6000;color: #fff;">支付宝</p>
      </div>
      <div style="float: left;width: 48%;border: 2px solid #EA6000;border-radius: 5px;margin-left: 1%;text-align: center;">
          <img src="/css/images/weixin.png" alt="微信" width="100%" style="border-radius: 5px;">
          <p style="background-color: #EA6000;color: #fff;">微信</p>
      </div>
    </div>
</div>
